# Copyright 2019-2020, Deepwave Digital, Inc.
# SPDX-License-Identifier: Commercial

[Unit]
Description=NMEA GPS Emulator

[Service]
Type=simple
ExecStart=/usr/local/bin/nmea_gps_emulator
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=multi-user.target
